---
import Layout from "../../layouts/Layout.astro";
import Mainpost from "../mainpost.astro";
---
<Layout title="Abhikr's | Post2">
  <h2>Fix VSCode Remote SSH remote connection glibc high version dependency</h2>

  
</Layout>