---
import Button from "../components/Button.astro";
---

<article>
  
</article>


<Button>Primary</Button>

<Button variant="secondary">
  Secondary
</Button>

<Button variant="ghost" size="sm">
  Ghost Small
</Button>

<Button href="/Art1" size="lg">
  Link Button
</Button>



<h1>Meowow</h1>
<code> Hii</code>