---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arya's NoteBook">
<h1 class="wel">Hi, Welcome...!</h1>

<h3 class="wel-sub">All posts</h3>

<span>I'm Abhikr passionate about AI, open source, and I want to share some blogs.</span>

<style>
.wel{
  font-size: 40px
}

.wel-sub{
  font-size: 20px;
  color: azure;
}
</style>
  
</Layout>
