---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import Mainpost from "./mainpost.astro";
---

<Layout title="Arya's NoteBook">
  <h1 class="wel">Hi, Welcome...!</h1>

  <h3 class="wel-sub">All posts</h3>

  <span class="sp"
    >I'm Abhikr passionate about AI, open source, and I want to share some
    blogs.</span
  >

  <hr class="sep-hr" />

  <h2 class="feat">Featured</h2>

  <Mainpost />

  <style>
    .wel {
      font-size: 40px;
    }
    .sp {
      font-style: oblique;
    }
    .cla {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }

    .cla svg {
      flex-shrink: 0; /* Prevents icon from shrinking */
    }

    .wel-sub {
      font-size: 20px;

      color: azure;
    }

    .feat {
    }
    .p1 {
      font-style: initial;
      font-size: 15px;
      color: rgb(204, 151, 237);
    }
    .sep-hr {
      border-color: rgb(192, 133, 247);
    }
  </style>
</Layout>
